body {
    background-color: lightgray;
}

h1  {
    color: lightseagreen;
    font-family: 'Merriweather', serif;
}

.btn-primary {
    background-color: lightseagreen;
}

.navbar-brand {
    background-color: lightseagreen;
    font-family: 'Merriweather', serif;
}

.container {
    padding: 30px;
    
}

.row {
    margin: 0px;
}

.navbar {
    margin-bottom: 50px;
}

#bioImage{
    float: left;
    padding-right: 20px;
}

#bioName {
    color: white;
}

.imageSize {
    margin-bottom: 50px;
}

@media (min-width: 576px ) {
    .navbar {
        justify-content: center;
    }
   
}
